.header {
  height: 70px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  margin-top: -25px;
  margin-left: -60px;
  margin-bottom: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffafff;

  .logo-container {
    height: 100%;
    width: 70px;
    margin-left: 130px;
    padding: 5px;
  }

  .logo {
    width: 70px;
  }

  .hero-container {
    height: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero {
    height: 90%;
  }

  .options {
    height: 100%;
    margin-right: 130px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;
      color: white;
    }
  }
}
